<% provide(:title, 'Tópico 1') %>

<script type="text/javascript">


	function maisinfo(){
        document.getElementById('animar').src = "/assets/animacoes/duvida/duvida.gif";
        document.getElementById("content").innerHTML = "<br>Por enquanto você só tem o capítulo 2 disponível. <br>Você quer fazer a prova para pular o capítulo 1 e ir para o 2? <br>"; 
        document.getElementById("pulartopico").style.display = 'block';
	}


    function chama(){
    	var nivel = document.getElementById('nivelAluno').innerHTML;
    	
    	var capitulo = document.getElementById('habilitado').innerHTML;
    	
    	
    	if (nivel == 1 && capitulo == "Outros conceitos importantes para Orientação a Objetos "){
    		alert(nivel); ///RESPONDER USANDO AGENTEEEEEEEEEEEEEEEEEEEEEEEEEE
    		window.location.href = "http://localhost:3000/capitulos";	
    	}
    	
    }

    function negatopico(){
        document.getElementById('animar').src = "/assets/animacoes/neutro/neutro.gif";
    	document.getElementById("content").innerHTML = "<br> OK. <br>"; 
    	document.getElementById("pulartopico").style.display = 'none';
    	setTimeout(function(){ document.getElementById("content").innerHTML = ""; }, 3000);
    }

function atencao() {
    if (c == 1) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao1.png";
    }
    else if (c == 2) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao3.png";
    }
    else if (c == 3) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao5.png";
    }
    else if (c == 4) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao7.png";
    }
    else if (c == 5) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao9.png";
    }
    else if (c == 6) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao11.png";
    }
    else if (c == 7) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao13.png";
    }
    else if (c == 8) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao14.png";
    }
    else if (c == 9) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao15.png";
    }
    else if (c == 10) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao16.png";
    }
    else if (c == 11) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao17.png";
    }
    else if (c == 12) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao18.png";
    }
    else if (c == 13) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao17.png";
    }
    else if (c == 14) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao14.png";
    }
    else if (c == 15) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao13.png";
    }
    else if (c == 16) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao11.png";
    }
    else if (c == 17) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao9.png";
    }
    else if (c == 18) {
        document.getElementById('animar').src = "/assets/animacoes/atencao/atencao7.png";
    }
    else if (c == 19) {
        document.getElementById('animar').src = "/assets/animacoes/medo/atencao5.png";
    }
    else if (c == 20) {
        document.getElementById('animar').src = "/assets/animacoes/medo/atencao3.png";
    }
    else if (c == 21) {
        document.getElementById('animar').src = "/assets/animacoes/medo/atencao1.png";
    }
    else if (c == 22) {
        document.getElementById('animar').src = "/assets/animacoes/neutro/neutro.gif";
    }
    c = c + 1;
    t = setTimeout("atencao()",110);
}



</script>
<center>



    <h1>    Capítulos </h1>

    <br><br>
	<% if current_user.nivel == "1" %>
    	<% @capitulos.limit(1).each do |capitulo| %>
	      		<h3><td><%= link_to capitulo.titulo, capitulo_path(capitulo), id: "habilitado", onclick: "chama()" %></td> <br><br></h3>
	      		<h2><div id="content"  style='text-align:left'></div></h2>
	      		<div class="pulartopico" id= "pulartopico" style="display: none; text-align:left;"> 
    				<button onclick="location.href='help'" type="button">SIM</button>
    				<button onclick="negatopico()" type="button">NÃO</button>
    			</div>
    			<%= image_tag('/assets/animacoes/atencao/atencao.gif', :width =>  "130px", :align => "left", :id => "animar", :onclick => "maisinfo()") %> <!--COLOCAR LINK DA PROVA DE PULAR TÓPICOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO -->
  		<% end %>
  	<% end -%>

  	<% if current_user.nivel == "2" %>
    	<% @capitulos.limit(2).each do |capitulo| %>
	   		 <tr>
	      		<h3><td><%= link_to capitulo.titulo, capitulo_path(capitulo), id: "habilitado", onclick: "chama()" %></td> <br><br></h3>
	    	</tr>

  		<% end %>
        <%= image_tag('/assets/animacoes/neutro/neutro.gif', :width =>  "130px", :align => "left", :id => "animar") %>
  	<% end %>


  <div class="nivelAluno" id="nivelAluno" style="display: none;><%= current_user.nivel %></div> <!-- ESCONDEEEEEEER -->
</center>
<br><br><br><br>
<end>

