<script type="text/javascript">

$(document).ready(function(){
    boaprova();
    $(".cubagem, .tabbable").on('click mouseover load', boaprova);
        function boaprova() {
			var usuario = document.getElementById("usuario").innerHTML;
		    document.getElementById("content").innerHTML = "Boa prova, "+usuario+ "!!!"; //ACRESCENTAR NOME DO USUÁRIO CURRENT
		    document.getElementById('animar').src = "/assets/animacoes/feliz/feliz.gif";
		    setTimeout( function() { document.getElementById('animar').src = "/assets/animacoes/neutro/neutro.gif";}, 3000);
		    setTimeout( function () {document.getElementById("content").innerHTML = "";}, 3000);
		}
});

	

</script>

<h2><div id="content"  style='text-align:left'></div></h2>
<img id="animar" src="/assets/animacoes/neutro/neutro.gif" width="180px"/>

<center>
<%= form_tag(prova_alunos_path(capitulo: params[:capitulo]), {:method => :post}) do %>

<% @avaliacao.questaos.each_with_index do |questao, index| %>
                
    <% questao.alternativas.each do |alternativa| %>
                

    	Resposta certa: <div class="certa" id="certa" ><%= questao.respostacerta %></div> <br>

    	<%= radio_button_tag "resp#{index}", "#{alternativa.opcao1}" %> <%= alternativa.opcao1 %>
    	<%= radio_button_tag "resp#{index}", "#{alternativa.opcao2}" %> <%= alternativa.opcao2 %>
    	<%= radio_button_tag "resp#{index}", "#{alternativa.opcao3}" %> <%= alternativa.opcao3 %>
    	<%= radio_button_tag "resp#{index}", "#{alternativa.opcao4}" %> <%= alternativa.opcao4 %>

        <br>
             
    <% end %> 
<% end %>
<%= submit_tag "Enviar respostas" %> 
<% end %>
</center>


<div id="usuario"> <%= current_user.name %></div>

