
  <button type="button" id= "botaoavaliacao" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-<%= avaliacao.titulo.parameterize %>-1">
    <%= avaliacao.titulo %>
  </button>

  <%= link_to 'Prova', new_prova_aluno_path(capitulo: params[:id]) %>

  <% index2 = 1 %>
  <% avaliacao.questaos.each_with_index do |questao, index| %>


  <!-- Modal Page index-->
  <div class="modal fade" id="modal-<%= avaliacao.titulo.parameterize %>-<%= index2 %>" tabindex2="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"> <%= questao.questao %> </h4>
          </div>
          <div class="modal-body">
          <div align="justify">
          </div>
          <br>
          <center>
                
          
          <% #index = 1 %>
          
           <%= form_with model: @prova_aluno, local: true do |f| %>
              <% questao.alternativas.each do |alternativa| %>
                

                  Resposta certa: <div class="certa" id="certa" ><%= questao.respostacerta %></div> <br><br>

                  <%= alternativa.opcao1 %><input type="radio" name="resp<%= index %>" value=<%= alternativa.opcao1 %>> <br>
                  <%= alternativa.opcao2 %><input type="radio" name="resp<%= index %>" value=<%= alternativa.opcao2 %>> <br>
                  <%= alternativa.opcao3 %><input type="radio" name="resp<%= index %>" value=<%= alternativa.opcao3 %>> <br>
                  <%= alternativa.opcao4 %><input type="radio" name="resp<%= index %>" value=<%= alternativa.opcao4 %>> <br>
                  <br>
                  <% if index == 2 %>
                    <button id= "botao" onclick="salvaresposta()"> ENVIAR RESPOSTA</button>
                  <% end %> 
                  <% #index += 1 %>
                    
            <% end %>
    
          <% end %>

          </center>
          </div>
          <div class="modal-footer">
            <% if index2 != avaliacao.questaos.size %>
                <button type="button" class="btn btn-default btn-next" data-toggle="modal" data-target="#modal-<%= avaliacao.titulo.parameterize %>-<%= index2 + 1 %>" onclick="closenext()" data-dismiss="modal" >Next => </button>
            <% end %>

            <%= label_tag :tempo, class: "form-control", id: "cronometro" do %>
               <span id="counter">00:00:00</span>
            <% end %>

            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <% index2 += 1 %>
  <% end %>


<br><br>

</center>

<script type="text/javascript">

  function salvaresposta(certa, questao){

    
    document.getElementById("botao").disabled = true;

    var resposta1 = $('input[name=resp0]:checked').val(); //TA PEGANDO CERTO!
    var resposta2 = $('input[name=resp1]:checked').val(); //TA PEGANDO CERTO!
    var resposta3 = $('input[name=resp2]:checked').val(); //TA PEGANDO CERTO!
    var resposta4 = $('input[name=resp3]:checked').val(); //TA PEGANDO CERTO!



    var user_id = <%= current_user.id %>
    
    //var certa = document.getElementById('certa').innerHTML;
    //var questao = document.getElementById('questao').innerHTML;

    var value = 1;
    alert(questao);

    data = {
        "resposta1": resposta1,
        "resposta2": resposta2,
        "resposta3": resposta3,
        "resposta4": resposta4
    }


   // if (questao==1){
    let authoToken = $('meta[name=csrf-token]').attr('content');
    $.ajax({
      type: 'POST',
      url: '/prova_alunos/'+value,
      data: {
        _method: 'PATCH',
        authenticity_token: authoToken,
        prova_aluno: data
      },
      success: function(data){
        console.log(data);
      },
      error: function(error){
        console.log(error);
      }
    });

</script>