  <!--<% avaliacao.questaos.each do |questao| %>
                  

  <form action="">
    <% questao.alternativas.each do |alternativa| %>
      Resposta certa: <div class="certa" id="certa" ><%= questao.respostacerta %></div> <br><br>
      Número Questão: <div class="questao" id="questao" ><%= questao.id %></div> <br><br>


      <%= alternativa.opcao1 %><input type="radio" name="resp1" value=<%= alternativa.opcao1 %>> <br>
      <%= alternativa.opcao2 %><input type="radio" name="resp1" value=<%= alternativa.opcao2 %>> <br>
      <%= alternativa.opcao3 %><input type="radio" name="resp1" value=<%= alternativa.opcao3 %>> <br>
      <%= alternativa.opcao4 %><input type="radio" name="resp1" value=<%= alternativa.opcao4 %>> <br>
      <br>
    <% end %>

    <% end %>
    <button id= "botao" onclick="salvaresposta()"> ENVIAR RESPOSTA</button>   

  </form>
      -->       